/*
**Styling of Zeek rental business
**Use of Media queries makes styling responsive
*/

*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url("img/rental.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Navigation styles*/
nav {
	padding-top: 10px;
}

nav,
footer,
input[type=submit]:hover,
input[type=text]:focus,
textarea:focus {
	background-color: #8989ff;
}

img {
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 5px;
}

ul {
	margin: 0;
	padding: 19px 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #000;
}

li {
	display: inline;
}

li,
h1,
h2 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: white;
	padding: 20px 40px;
}

a:hover {
	text-decoration: underline;
	background-color: black;
}

.service {
	border-right: 2px solid white;
	border-left: 2px solid white;
}

/*Header styles*/
h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0;
    padding: 80px 0;
}

.rent {
	color: #f00;
	text-align: center;
}

/*Main page styles*/
main {
	border: 2px solid #000;
	border-radius: 10px;
	margin: 20px 15%;
	padding: 0 1px;
	background-color: rgba(255, 255, 255, 0.8);
}

hr {
	width: 50%;
}

p {
	font-size: 18px;
}

.services {
	background-color: rgba(0, 0, 255, 0.2);
	padding: 1px 0 10px;
}

.sub-services {
	width: 33.3%;
	float: left;
	padding: 0 2px 15px;
}

h3 {
	text-transform: capitalize;
}

.separator {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #4e5d99;
	margin: 0 auto;
}

.shows,
.sales {
	background-color: #fff;
}

.rentals {
	background-color: rgba(0, 0, 255, 0.7);
	color: #fff;
}

.deposit {
	color: #fff;
}

.clear {
	clear: both;
}

form {
	margin: 0 25%;
}

input[type=text],
textarea {
	width: 100%;
	outline: none;
	border-radius: 5px;
	padding: 12px 20px;
	margin: 6px 0px;
}

button,
input[type=submit] {
	margin-bottom: 10px;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 5px;
}

/*Footer styles*/
.footer {
	margin: 0;
	padding: 5px 0;
}

.top {
	float: right;
	border: 1px solid #000;
	border-radius: 3px;
	margin-right: 10px;
	padding: 1px 10px;
}


/*Media queries*/
@media (max-width: 727px) {
		.sub-services {
		width: 100%;
		padding: 0 2px 15px;
	}

	.services {
		padding: 1px 10px 30px;
	}

	form {
		margin: 0 15%;
	}
}

@media (max-width: 495px) {
	li {
		display: block;
		padding: 5px 0;
		border: 1px solid #000;
	}

	ul {
		margin: 0;
		padding: 0;
		border: 1px solid #000;;
	}

	a {
		text-decoration:none;
		color:white;
		padding: 0;
	}

	.service {
		border: 0;
	}

	li:hover {
		text-decoration:underline;
		background-color: black;
	}
}